<p><%= link_to 'Back', translators_path %></p>

<% disabled ||= false # Form is enabled by default %>

<%= form_for @translator do |f| %>

  <%= render 'error', obj: @translator %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', readonly: disabled  %>
  </p>

  <%= f.submit style: disabled ? "display:none" : "" %>

<% end %>
