<p><%= link_to 'Back', translators_path %></p>

<% disabled ||= false # Form is enabled by default %>

<%= form_for @translator do |f| %>

  <% if @translator.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= pluralize(@translator.errors.count, "error") %> prohibited
        this translator from being saved:
      </h2>
      <ul>
        <% @translator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', readonly: disabled  %>
  </p>

  <%= f.submit style: disabled ? "display:none" : "" %>

<% end %>
