
<h1>Translators</h1>

<% if can? :create, @translator %>
<p><%= link_to 'New Translator', new_translator_path %></p>
<% end %>


<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @translators.each do |translator| %>
    <tr>
      <td><%= translator.name %></td>
      <td><%= link_to 'Show', translator_path(translator) %></td>
      <% if can? :update, Translator %>
        <td><%= link_to 'Edit', edit_translator_path(translator) %></td>
        <td><%= link_to 'Destroy', translator_path(translator),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>

</table>
