<h1>Create New Translator</h1>

<% if @translator.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@translator.errors.count, "error") %> prohibited
      this translator from being saved:
    </h2>
    <ul>
      <% @translator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# The URL parameter will ensure that a POST method is sent to the route
    translators/ which in turn will call the translators#create method. %>
<%= form_for :translator, url: translators_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', translators_path %>
