<p><%= link_to 'Back', works_path %></p>

<% disabled ||= false # Form is enabled by default %>

<%= form_for @work do |f| %>

  <%= render 'error', obj: @work %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', readonly: disabled %>
  </div>

  <%= f.submit style: disabled ? "display:none" : "" %>

<% end %>
