<h1>Editing Work</h1>

<%# Submit this form with the PATCH method. %>
<%= form_for :work, url: work_path(@work), method: :patch do |f| %>

  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@work.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @work.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', works_path %>
