<h1>Works</h1>

<% if can? :create, @work %>
<p><%= link_to 'New Work', new_work_path %></p>
<% end %>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @works.each do |work| %>
    <tr>
      <td><%= work.title %></td>
      <td><%= link_to 'Show', work_path(work) %></td>
      <% if can? :update, Work %>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work_path(work),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>

</table>
