<p><%= link_to 'Back', authors_path %></p>

<% disabled ||= false # Form is enabled by default %>

<%# Submit this form with the PATCH method. %>
<%= form_for @author do |f| %>

  <% if @author.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', readonly: disabled %>
  </div>

  <%= f.submit style: disabled ? "display:none" : "" %>

<% end %>
