<p><%= link_to 'Back', authors_path %></p>

<% disabled ||= false # Form is enabled by default %>

<%# Submit this form with the PATCH method. %>
<%= form_for @author do |f| %>

  <%= render 'error', obj: @author %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', readonly: disabled %>
  </div>

  <%= f.submit style: disabled ? "display:none" : "" %>

<% end %>
