<p>Welcome to the Tiresias project, now on Rails!</p>

<% if flash[:notice] %>
  <div class="error"><%= flash[:notice] %></div>
<% end %>

<% if can? :create, User %>
  <p><%= link_to 'Manage Users', users_path, class:'btn btn-primary' %></p>
<% end %>

<div class="list-group">
  <%= link_to 'Submissions', {controller: 'submissions'}, class: 'list-group-item active' %>
  <%= link_to 'Authors', {controller: 'authors'}, class:'list-group-item list-group-item-action' %>
  <%= link_to 'Collections', {controller: 'collections'}, class:'list-group-item list-group-item-action'%>
  <%= link_to 'Languages', {controller: 'languages'}, class:'list-group-item list-group-item-action' %>
  <%= link_to 'Media', {controller: 'media'}, class:'list-group-item list-group-item-action' %>
  <%= link_to 'Translators', {controller: 'translators'}, class:'list-group-item list-group-item-action' %>
  <%= link_to 'Works', {controller: 'works'}, class:'list-group-item list-group-item-action' %>
</div>
