<h1>Tiresias</h1>

<p>Welcome to the Tiresias project, now on Rails!</p>

<p><%= link_to 'Submissions', controller: 'submissions' %></p>

<%= link_to 'Authors', controller: 'authors' %> <br/>
<%= link_to 'Collections', controller: 'collections' %><br/>
<%= link_to 'Languages', controller: 'languages' %><br/>
<%= link_to 'Media', controller: 'media' %><br/>
<%= link_to 'Translators', controller: 'translators' %><br/>
<%= link_to 'Works', controller: 'works' %>
