<% if @approved == 0 %>
  <h1>Unapproved Submissions</h1>
<% else %>
  <h1>Submissions</h1>
<% end %>

<% if can? :create, Submission %>
  <p><%= link_to 'New Submission', new_submission_path %></p>
<% end %>

<%# --- Display search form --------------------------------------------------%>
<p>
  <%= form_tag(submissions_path, :method => "get", id: "search-form", class: 'form-inline') do %>
    <%# Add hidden sort and direction to persist these on a search. %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :approved, params[:approved] %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search Submissions", class:'form-control mr-2' %>
      <%= submit_tag "Search", :name => nil, class:'btn btn-primary mr-4' %>
      <%= link_to "Clear Search", { :action => "index", :approved => params[:approved] }, :method => :get, class:'btn btn-primary mr-2' %>
      <% if can? :approve, Submission %>
        <%= link_to 'Unapproved Submissions', { :controller=> "submissions", :approved => "0" }, :method => :get, class:'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</p>

<%# --- Display pagination controls ------------------------------------------%>
<div id="submissions">
  <%= render 'pagination' %>
</div>

<%# --- Display submissions --------------------------------------------------%>
<table>
  <tr>
    <%# sortable is defined in application_helper %>
    <th><%= sortable "title" %></th>
    <th><%= sortable "translators.name", "Translator"%></th>
    <th><%= sortable "publication_year", "Year" %></th>
  </tr>

  <% @submissions.each do |submission| %>
    <tr>
      <td><%= truncate(submission.title, length: 75) %></td>
      <td><%= Translator.find(submission.translator_id).name %></td>
      <td><%= submission.publication_year %></td>
      <td><%= link_to 'Show', submission_path(submission) %> :
        <%= link_to 'Edit', edit_submission_path(submission) %> :
        <%= link_to 'Destroy', submission_path(submission),
           method: :delete,
           data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

</table>
