<% if @approved == 0 %>
  <h1>Unapproved Submissions</h1>
<% else %>
  <h1>Submissions</h1>
<% end %>

<% if can? :create, Submission %>
  <p><%= link_to 'New Submission', new_submission_path %></p>
<% end %>

<%# --- Display search form --------------------------------------------------%>
<p>
  <%= form_tag(submissions_path, :method => "get", id: "search-form", class: 'form-inline') do %>
    <%# Add hidden sort and direction to persist these on a search. %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

    <div class="form-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search Submissions", class:'form-control mr-2' %>

      <% if can? :update, Submission %>
        <div class="form-group">
          Completed?
          <%= select_tag(:completed, options_for_select(
            [ ['', -1 ], ['Yes', 1], ['No', 0] ], params[:completed]),
            class:'form-control ml-1 mr-2') %>
        </div>

        <div class="form-group">
          Approved?
          <%= select_tag(:approved, options_for_select(
            [ ['', -1 ], ['Yes', 1], ['No', 0] ], params[:approved]),
            class:'form-control ml-1 mr-2') %>
        </div>

        <div class="form-group">
          Assigned To You?
          <%= check_box_tag(:assigned, 0, params[:assigned], class:'form-control ml-1 mr-2') %>
        </div>
      <% end %>

      <%= submit_tag "Search", :name => nil, class:'btn btn-primary ml-2 mr-2' %>
      <%= link_to "Clear Search", { :action => "index" }, :method => :get, class:'btn btn-primary mr-4' %>

    </div>
  <% end %>
</p>

<%# --- Display pagination controls ------------------------------------------%>
<div id="submissions">
  <%= render 'pagination' %>
</div>

<%# --- Display submissions --------------------------------------------------%>
<table>
  <tr>
    <%# sortable is defined in application_helper %>
    <th><%= sortable "title" %></th>
    <th><%= sortable "translators.name", "Translator"%></th>
    <th><%= sortable "publication_year", "Year" %></th>
  </tr>

  <% @submissions.each do |submission| %>
    <tr>
      <td>
        <%# Mark entries that not completed and unapproved. %>
        <% if submission.completed and not submission.approved %>
          <span style="color:blue">*</span>
        <% end %>
        <% if not submission.completed %>
          <span style="color:red">*</span>
        <% end %>

        <%= truncate(submission.title, length: 75) %>
      </td>

      <td><%= Translator.find(submission.translator_id).name %></td>
      <td><%= submission.publication_year %></td>

      <td><%= link_to 'Show', submission_path(submission) %>
      <% if can? :update, Submission %>
           : <%= link_to 'Edit', edit_submission_path(submission) %> :
          <%= link_to 'Destroy', submission_path(submission),
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
  <% end %>

</table>

<p>
  <br/>
<span style="color:blue">*</span> means the submission is complete but not approved.<br/>
<span style="color:red">*</span> means the submission is not complete.
</p>
