<h1><%= @submission.title %></h1>

<p><%= link_to 'Back', submissions_path %></p>

<table>
  <tr><td class="right">Title</td><td><%= @submission.title %> </td></tr>
  <tr><td class="right">Work</td><td><%= Work.find(@submission.work_id).title %> </td></tr>
  <tr><td class="right">Author</td><td><%= Author.find(@submission.author_id).name %> </td></tr>
  <tr><td class="right">Language</td><td><%= Language.find(@submission.language_id).name %></td></tr>
  <tr><td class="right">Translator</td><td><%= Translator.find(@submission.translator_id).name %> </td></tr>
  <tr><td class="right">ISBN</td> <td><%= @submission.isbn %></td></tr>
  <tr><td class="right">OCLC </td> <td><%= @submission.oclc %></td></tr>
  <tr><td class="right">Edition </td> <td><%= @submission.edition %></td></tr>
  <tr><td class="right">Is Prose?</td> <td> <%= @submission.is_prose %></td></tr>
  <tr><td class="right">Is Poetry? </td> <td><%= @submission.is_poetry %></td></tr>
  <tr><td class="right">Medium</td><td> <%= Medium.find(@submission.medium_id).name %> </td></tr>
  <tr><td class="right">Publication Year </td> <td><%= @submission.publication_year %></td></tr>
  <tr><td class="right">Notes </td> <td> <%= @submission.notes %></td></tr>
</table>
