<p><%= link_to 'Back', media_path %></p>

<% disabled ||= false # Form is enabled by default %>

<%= form_for @medium do |f| %>

  <%= render 'error', obj: @medium %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', readonly: disabled %>
  </div>

  <%= f.submit style: disabled ? "display:none" : "" %>

<% end %>
