<h1>Editing Medium</h1>

<%# Submit this form with the PATCH method. %>
<%= form_for :medium, url: medium_path(@medium), method: :patch do |f| %>

  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@medium.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @medium.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', media_path %>
