<h1>Media</h1>

<% if can? :create, @medium %>
<p><%= link_to 'New Medium', new_medium_path %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @media.each do |medium| %>
    <tr>
      <td><%= medium.name %></td>
      <td><%= link_to 'Show', medium_path(medium) %></td>
      <% if can? :update, Medium %>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium_path(medium),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>

</table>
