<h1>Log In</h1>

<%= form_for @user_session do |form| %>

<% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user_session.errors.count, "error") %> prohibited
      this user from logging in:
    </h2>
    <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= form.label :email, "Email" %><br/>
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :password, "Password" %><br/>
  <%= form.password_field :password %>
</p>
<p>
  <%= form.submit "Submit" %>
</p>

<% end %>
