<!DOCTYPE html>
<html>
  <head>
    <title>Tiresias</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id="user_nav">
      <% if current_user %>
        <%= link_to "Edit profile", edit_user_path(:current) %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Log in", login_path %>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
